:root {
  --plain-white: #fff6fc;
  --dark-maroon: #2f0120;
  --light-maroon: #50103c;
  --brand-highlight: #df20a3;
  --line-highlight-d: #c388b1;

  --brand: #c83599;
  --line-highlight-l: #6b4860;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ticSec {
  width: auto;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.ticButton {
  width: 63px;
  height: 63px;
}

button {
  color: white;
}
